@import "./colors.less";
@import "./color-variables.less";
@import "./hero-variables.less";

.section-general {    
    max-height: 100%;
    width: auto;
}

.hero-section {
    
     .section-general();
    
}

.section {
    .section-general();
}


.info-section {
    background: @darkGray;
}


.info-section {
    background: @darkGray;
    color: #FFF;
    text-align: center;    
    height: unset;
    max-height: unset;
    
}

.info-section p {
    margin: 0;
    margin-top: .75%;
     
}

.info-section-bottom-pad {
    padding-bottom: 2.8%;
    
}

.hero-title,
.info-section > .sub-title {

    font-family: 'Century Gothic';
    font-size: 2.5rem;
    text-transform: uppercase;

}

.info-section > .sub-text {
    font-family: @primaryBoldFont;
    font-weight: 300;
    font-size: 1.3rem;
    
}

div.info-button,
.info-section > div.info-button {

    margin-top: 1.5%;
    border: 1px solid @darkGray;
    font-family: @primaryBoldFont;
    text-transform: uppercase;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 20px 50px;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.more-info-section {
    background: #fff;
    margin: 6% 8% 1% 7%;
    justify-content: center;
    align-items: center;
    
}


.hero-section > img {
    height: 100%;
    max-height: auto;
    width: 100%;

}


.card-box {
    width: 80%;    
    box-shadow: 1px 1px 1px 1px #cdcdcd;
    font-family: 'Open Sans';
    font-size: 1rem;

}

.card-box > p {
    text-align: center;
    padding: 1% 8%;
    
    
}

.card-box > img {
    justify-self: center;
    align-self: center;
}

.bg-info-section {
    height: 35.1%;
    background: url("../images/banner02.jpg");
    background-size: 100% 100%;
}

.bg-info-section1 .image1 {
    
    width: 50%;
}

.bg-info-section1 .image2 {
    
    width: 50%;
}


.hero2 {
    height: 46.29%;
    background: url("../images/coffee_read_newspaper.jpg");
    background-size: 100% 100%;
}

.center-center {
    justify-content: center;
    align-items: center;

}